*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  body {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 0;
    font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
    color: #244376;
    justify-content: space-between;
    align-items: center;
    height: 98vh;
  }
h2{
  text-align: center;
}
  #card {
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  
  model-viewer {
    width: 100%;
    height: 400px;
    background-color: #70bcd1;
    --poster-color: #ffffff00;
  }
  
  .attribution {
    width: 70%;
    border-radius: 5px;
    background-color: #3498db;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
  }
  
  .attribution h1 {
    margin: 0 0 0.25em;
  }
  
  .attribution img {
    height: 2em;
  }
  
  .attribution .cc {
    flex-shrink: 0;
    text-decoration: none;
  }
  
  #carousel {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 100%;
    background-color: #70bcd1;
  }
  
  .model-container {
    width: 100%;
    flex: 0 0 auto;
    transition: transform 0.3s ease;
  }
  
  .arrow-button {
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-style: italic;
    line-height: 1.5em;
  }
  .color-selection-container{
    margin: 0 auto;
    padding: 1rem;
    background-color: #70bcd1;
    width: 100%;
  }
  .color-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #70bcd1;
    width: 100%;
  }

  .color-option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
  }

  .color-option:nth-child(1) {
    background-color: rgb(94, 196, 255);
  }

  .color-option:nth-child(2) {
    background-color: rgb(255, 255, 255);
  }

  .color-option:nth-child(3) {
    background-color: rgb(0, 0, 0);
  }

  .color-option:nth-child(4) {
    background-color: yellow;
  }

  .color-option:nth-child(5) {
    background-color: purple;
  }